.opcao {
  border: 0;
  height: 150px;
  padding: 20px;
  border-radius: 10px;
  text-decoration: none;
  background-color: #ffffff;
  color: var(--text-color-secondary);
  box-shadow: 4px 4px 11px -13px #000000;
  -webkit-box-shadow: 4px 4px 11px -13px #000000;
  #nome {
    font-size: 15pt;
    font-weight: bold;
    margin-right: 20px;
  }
  #descricao {
    font-size: 15pt;
    font-weight: normal;
  }
}

.opcao:hover {
  background-color: #ffffff;
  color: var(--text-color-secondary);
  border: 2px solid var(--primary-color);
}

.opcao-desativado {
  pointer-events: none;
  background-color: transparent;
  border: 2px solid var(--surface-d);
}
